/*layout of sections*/
main {
    display: flex;
    flex-wrap: wrap;
    //align-items: flex-start;
}

section {
    flex-basis: 200px;
    flex-grow: 2;
}

/*margins padding etc*/
nav, section, aside {
    padding-right: 1ex;
    padding-left: 1ex;
}

section {
    margin: 1em;
    max-width: 20em;
}

body {
    //margin: 0ex;
}
